option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION_NAME: us-east-1
    CONTRACT_PRIMARY_MODEL: us.amazon.nova-pro-v1:0
    CONTRACT_FALLBACK_MODEL: mistral.mistral-large-2402-v1:0
    ACTOR_MODEL: us.amazon.nova-pro-v1:0
    CRITIC_MODEL: us.amazon.nova-pro-v1:0
    MAX_REQUESTS_PER_HOUR: 20
    FLASK_APP: application:application
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:ec2:instances:
    InstanceTypes: t3.medium
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
